# ----- FRONTEND BUILD VARIABLES (VITE_*) -----
# Put these into the appropriate .env.* based on Vite mode 

# SELECT ONE:
# .env.development -> used for development build (npm build dev)
#    VITE_API_URL=https://api-dev.sciencelive4all.org
# .env.production -> used for production build (npm build)
#   VITE_API_URL=https://api.sciencelive4all.org
# .env.development.local -> used for localhost development (npm run dev)
#   VITE_API_URL=http://localhost:3001
VITE_API_URL=http://localhost:3001


# ----- TOOLING VARIABLES -----
# Put these into .env, they remain private/local 

# Port used by Vite for serving frontend for localhost development
PORT=3000

# OPTIONAL: For Cloudflare deployment
CLOUDFLARE_API_TOKEN=REPLACE
CLOUDFLARE_ACCOUNT_ID=REPLACE
WRANGLER_SEND_METRICS=false
