{
  "$schema": "../node_modules/wrangler/config-schema.json",
  "name": "api",
  "main": "src/index.ts",
  "compatibility_date": "2025-11-01",
  "compatibility_flags": ["nodejs_compat"],
  "observability": {
    "enabled": true
  },
  "upload_source_maps": true,
  "vars": {
    "FRONTEND_URL": "CHANGE_TO_DEPLOYED_FRONTEND_BASE_URL",
    "ALLOWED_ORIGINS": "OPTIONAL_COMMA_SEPARATED_URLS_TO_ADD_ALLOWED_ORIGINS_IN_ADDITION_TO_FRONTEND_URL",
    "API_URL": "CHANGE_TO_DEPLOYED_API_URL",
    "ORCID_CLIENT_ID": "CHANGE_TO_OAUTH_ORCID_CLIENT_ID"
  },
  "dev": {
    "port": 3001,
    "local_protocol": "http"
  },
  "hyperdrive": [
    {
      "binding": "HYPERDRIVE",
      "id": "CHANGE_TO_HYPERDRIVE_UUID"
      "localConnectionString": "CHANGE_TO_YOUR_DIRECT_DEV_DB_postgresql://..."
     }
  ]
}