name: CI

on:
  push:
    branches: [main]
    paths:
      - "zotero/**"
      - ".github/workflows/zotero-ci.yml"
  pull_request:
    branches: [main]
    paths:
      - "zotero/**"
      - ".github/workflows/zotero-ci.yml"

defaults:
  run:
    working-directory: ./zotero

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GitHub_TOKEN }}
    steps:
      - name: Setup JS
        uses: zotero-plugin-dev/workflows/setup-js@main
      - name: Run Lint
        run: npm run lint:check

  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GitHub_TOKEN }}
    steps:
      - name: Setup JS
        uses: zotero-plugin-dev/workflows/setup-js@main
      - name: Run Build
        run: npm run build
      - name: Upload build result
        uses: actions/upload-artifact@v4
        with:
          name: build-result
          path: .scaffold/build

  ## Currently the test launches Zotero and doesn't terminate without GUI interaction
  ## which doesn't work in the Github Actions environment. Run tests locally instead.
  # test:
  #   runs-on: ubuntu-latest
  #   needs:
  #     - build
  #   steps:
  #     - name: Setup JS
  #       uses: zotero-plugin-dev/workflows/setup-js@main
  #     - run: npm run test
